@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:ital,wght@0,200;0,400;0,600;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat&family=Raleway:ital,wght@0,200;0,400;0,600;1,200&display=swap');


/**************/
/* CSS REMEDY */
/**************/

*,
*::after,
*::before {
	box-sizing: border-box;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	--color-text-1: white;
	--color-text-2: black;
	--color-text-3: rgb(163, 163, 163);
	--color-background-1: white;
	--color-background-2: black;
	--color-background-3: rgb(163, 163, 163);
	--color-border-1: white;
	--color-border-2: black;
}


@media (prefers-color-scheme: dark) {

	:root {
		--color-text-1: black;
		--color-text-2: white;
		--color-text-3: rgb(163, 163, 163);
		--color-background-1: black;
		--color-background-2: white;
		--color-background-3: rgb(163, 163, 163);
		--color-border-1: black;
		--color-border-2: white;
	}

}


/****************/
/* JOUW STYLING */
/****************/

* {
	font-family: 'Montserrat', sans-serif;
}

/* --------HEADER-------- */

h1 {
	font-family: 'Figtree', sans-serif;
	font-weight: lighter;
	margin: 0.5em;
}

header {
	display: flex;
	align-content: flex-start;
	text-align: start;
	flex-direction: row;
	position: sticky;
	top: 0;
	z-index: 999;
	background-color: var(--color-background-1);
}


@keyframes fontChange {
	25% {
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}

	50% {
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

	75% {
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	100% {
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	}
}

h1 a {
	font-family: 'Figtree', sans-serif;
	font-weight: lighter;
	text-decoration: none;
	color: var(--color-text-2);
	animation: none;
}

h1 a:hover {
	animation: fontChange 2s infinite;
}



header li {
	padding: 0.5em;
	height: 1em;
	width: auto;
}

header ul {
	display: flex;
	align-content: flex-end;
	margin-left: auto;
	list-style-type: none;
}

header button {
	all: unset;
}

header svg {
	stroke: var(--color-border-2);
}

nav {
	background-color: var(--color-background-1);
	color: var(--color-text-2);
	transition: translate .3s;
	translate: 120% 0%;
	display: block;
	top: 0;
	left: 6em;
	right: 0;
	bottom: 0;
	position: fixed;
}

nav button {
	margin-left: 14.9em;
	margin-top: 2em;
}

nav p {
	margin-left: 1.5em;
	margin-top: 0.3em;
}

nav.showMenu {
	translate: 0% 0%;
}

/* --------MAIN-------- */

main ul:nth-of-type(1) {
	margin: 0em 0em 1em 0em;
	padding: 0.2em;
	text-align: start;
	white-space: nowrap;
	overflow-x: auto;
	background-color: var(--color-background-2);
	color: var(--color-text-1);
}

main ul:nth-of-type(1) li {
	display: inline-block;
	margin-right: 10px;
}

main ul:nth-of-type(1) li p {
	margin: 0.5em;
	font-size: small;
}

h2 {
	font-family: 'Figtree', sans-serif;
	font-weight: lighter;
	color: var(--color-text-2);
}

h3 {
	font-size: 1em;
	margin-top: 3em;
	margin-bottom: 3em;
}

h4 {
	color: var(--color-text-3);
	font-size: small;
}

body {
	align-content: center;
	text-align: center;
	background-color: var(--color-background-1);
}

/* --------HIER BEGINNEN DE AFBEELDINGEN + LINKS-------- */
section img {
	width: 100%;
}

section a {
	color: var(--color-text-1);
	background: var(--color-background-2);
	padding: 2em;
	margin: 0.5em;
	font-size: 0.5em;
	border-radius: 0.3em;
	position: absolute;
	bottom: 2em;
	text-decoration: none;
	text-align: center;
	left: 12em;
	right: 12em;
}

section a:hover {
	color: var(--color-text-2);
	background-color: var(--color-background-1);
}

section {
	position: relative;
}

section h2 {
	display: block;
	position: absolute;
	color: var(--color-text-1);
	bottom: 2em;
	text-align: center;
	left: 1em;
	right: 1em;
}

/* --------TUSSENSTUKJE 'SPIRIT OF GUCCI'-------- */

main article p {
	font-size: medium;
	font-weight: lighter;
	margin: 1em;
	color: var(--color-text-2);
}

main article a {
	background: none;
	color: var(--color-text-2);
	font-size: small;
	font-weight: bold;
}

/* --------HORIZONTAL SCROLL MET VIDEOS EN IMAGES-------- */

section:nth-of-type(5) {
	display: flex;
	overflow-x: auto;
}

section:nth-of-type(5) video,
section:nth-of-type(5) img {
	width: 80vw;
	margin: 1em 0.1em 1em 0.1em;
}

section div h2 {
	bottom: 6.3em;
	color: var(--color-text-1);
}

section div img {
	filter: brightness(80%);
}

video {
	width: 100%;
	height: auto;
}

/* --------SHOPPING PAGE-------- */

.shop {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: none;
	background-color: var(--color-background-3);
}

.shop article {
	background-color: var(--color-background-1);
	padding: 0em 1em 1em 1em;
}

.shop article img {
	width: 80%;
	height: auto;
	padding: 1em;

}

.shop article h2 {
	font-size: smaller;
	font-weight: 500;
}

.shop article p:nth-of-type(2) {
	font-weight: bolder;
	font-size: small;
	text-decoration: underline;

}

.shop article p {
	margin: 0.3em;
}

.shop article a {
	text-decoration: underline;
}

.shop article svg {
	position: absolute;
	margin-top: 0.5em;
	fill: none;
}

.shop article svg:hover {
	fill: black;
}

.shop article button {
	all: unset;
}

section button {
	color: var(--color-text-1);
	background-color: var(--color-background-2);
	padding: 1em;
	border-radius: 0.3em;
	border-style: none;
	margin-top: 2em;
	margin-bottom: 1em;
}

section button:hover {
	background-color: var(--color-background-3);
}


/* --------FOOTER-------- */

footer section:nth-last-of-type(1) {
	width: auto;
	background-color: var(--color-background-2);
	color: var(--color-text-1);
	padding: 2em;
	text-align: start;
	margin-top: 1em;
}

div p {
	margin-left: 1em;
	margin-right: 1em;
	color: var(--color-text-2);
}

hr {
	size: 1em;
	width: 100%;
	color: var(--color-border-1);
	margin-top: -0.5em;
}

footer section:nth-last-of-type(1) section:nth-of-type(2) p {
	text-decoration: underline;
	font-size: small;
}

footer section:nth-last-of-type(1) section:nth-of-type(2) {
	padding: 0em;
}

footer section:nth-last-of-type(1) img:nth-of-type(1) {
	margin-top: 1em;
	width: 75%;
}

footer section:nth-last-of-type(1) img:nth-of-type(2) {
	width: 17%;
	margin-left: 1em;
	transition: transform 1s ease;
}

footer section:nth-last-of-type(1) img:nth-of-type(2):hover {
	transform: rotateY(360deg);
}

/* --------EMAIL FORM IN FOOTER-------- */

form {
	display: flex;
	flex-direction: column;
	align-items: start;
	color: var(--color-text-1);
}

form h4 {
	align-content: flex-start;
}

form input[type="email"] {
	width: 100%;
	padding: 0.5em;
	margin: 0.5em 0;
	font-size: 14px;
	background-color: var(--color-background-2);
	border: none;
	color: var(--color-text-1);
}

form hr {
	width: 100%;
	border: 1px solid var(--color-border-1);
}

form input[type="email"]:focus {
	border-color: var(--color-border-2);
	outline: none;
	box-shadow: none;
}
